html, body {
  overflow: hidden;
  width   : 100%;
  height  : 100%;
  margin  : 0;
  padding : 0;
}

#renderCanvas {
  position: absolute;
  top:0; left:0;
  width   : 100%;
  height  : 100%;
  touch-action: none;
  z-index:0;
}

#debug{
  position: absolute;
  top:0; left:0;
  width:100%; height:100%; 
  z-index:1;

}